#Env
.env

# Ignore Docker volumes
volumes/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore any editor-specific files (e.g., for VSCode)
.vscode/
.idea/
*.swp
